In [10]:
#--- extract the catalog

import pandas as pd
#import matplotlib; matplotlib.use('agg')
import sys

#--- add a new time attribute
def ConvertTime( df_in ):
    df=df_in.copy()
    df.insert(0,'date',pd.to_datetime(swarm[['year', 'month', 'day', 'hour', 'minute', 'second']]))
    df.drop(['year', 'month', 'day', 'hour', 'minute', 'second'],axis=1,inplace=True)
    return df

#--- set path
SWARM_PATH = './dataset/Oklahoma/TableS1.csv' #sys.argv[1]
DIR_OUTPT = './dataset/Oklahoma' #sys.argv[2]

#--- store
swarm = pd.read_csv( SWARM_PATH, sep = ',' ) #--- parse data

swarm = ConvertTime( swarm ) #--- add new column 'date'

#--- sort based on time
swarm.sort_values(by=['date'],inplace=True)

#--- reindex
swarm.reset_index(inplace=True,drop=True)

#--- rename cols
swarm = swarm.rename(index=str,columns={'lat':'latitude','lon':'longitude','mag':'magnitude'})

swarm.head()

,date,eventid,latitude,longitude,depth,magnitude,mag_label,dmin,gap,abs_err_h,...,rel_err_h,rel_err_z,rms,nctp,ncts,rms_ct,nccp,nccs,rms_cc,other_id
0,2013-05-05 05:45:50.610,1,35.606586,-97.261084,5.228,2.2,ML,28,247,1.88,...,25.291987,36.194237,0.02,69,80,0.071,12,14,0.003,ogs8714
1,2013-05-05 15:35:08.990,2,35.663400,-97.117599,4.191,2.3,ML,41,239,0.71,...,51.445586,88.536059,0.02,140,147,0.067,0,0,-9.000,ogs8575
2,2013-05-06 23:49:41.220,3,35.578798,-97.298077,3.899,1.9,ML,23,238,1.71,...,46.958145,95.760631,0.03,121,113,0.072,0,0,-9.000,ogs8558
3,2013-05-07 01:24:01.010,4,35.559407,-97.300820,4.577,1.8,ML,28,311,1.36,...,323.613127,504.077479,0.03,76,132,0.087,0,0,-9.000,ogs8672
4,2013-05-07 07:46:07.510,5,35.542460,-97.153658,4.717,2.2,ML,30,248,0.66,...,602.014703,1535.566696,0.02,85,65,0.120,0,0,-9.000,ogs8600

In [11]:
#--- remove nan

swarm = swarm.dropna(subset=['magnitude'])
swarm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18608 entries, 0 to 18608
Data columns (total 21 columns):
date         18608 non-null datetime64[ns]
eventid      18608 non-null int64
latitude     18608 non-null float64
longitude    18608 non-null float64
depth        18608 non-null float64
magnitude    18608 non-null float64
mag_label    18603 non-null object
dmin         18608 non-null int64
gap          18608 non-null int64
abs_err_h    18608 non-null float64
abs_err_z    18608 non-null float64
rel_err_h    18608 non-null float64
rel_err_z    18608 non-null float64
rms          18608 non-null float64
nctp         18608 non-null int64
ncts         18608 non-null int64
rms_ct       18608 non-null float64
nccp         18608 non-null int64
nccs         18608 non-null int64
rms_cc       18608 non-null float64
other_id     18608 non-null object
dtypes: datetime64[ns](1), float64(11), int64(7), object(2)
memory usage: 3.1+ MB

In [13]:
#--- plot spatial map 
#--- fault map california: temporal evolution of events

import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D

def DataFrameSubSet( df, column, (xmin,xmax) ):
    return df[ ( df[column] >= xmin ) & 
               ( df[column] < xmax ) ]

#--- subset of data
swarm_lohi = swarm.copy()#DataFrameSubSet( swarm, 
                          #   'date', 
                           #  ( pd.to_datetime('2010-04-04'), pd.to_datetime('2010-06-26') ) )

swarm_lohi.plot.scatter('longitude','latitude',
                        s=3**(swarm['magnitude']),
                        c='depth',cmap='jet') #--- plot

plt.figure(figsize=(6,6)).gca(projection='3d')
plt.xlabel('Long')
plt.ylabel('Lat')
plt.scatter(swarm_lohi['longitude'],
            swarm_lohi['latitude'],
            swarm_lohi['depth']) #s=10*swarm['magnitude'],cmap='jet') #--- plot
plt.show()

In [14]:
#--- plot timeseries

import matplotlib.pylab as plt
import numpy as np

plt.figure(figsize=(8,4))
plt.xlabel('Time')
plt.ylabel('M')
plt.ylim(-2,swarm['magnitude'].max())
#plt.xlim(pd.to_datetime('2010-04-04'),pd.to_datetime('2010-06-26'))
plt.scatter(swarm['date'],swarm['magnitude'],
            s=2*np.exp(swarm['magnitude']),
            alpha=0.04)

#plt.plot([pd.to_datetime('2010-04-08'),pd.to_datetime('2010-04-08')],
  #      [-2,7],'r-')

#plt.plot([pd.to_datetime('2010-06-15'),pd.to_datetime('2010-06-15')],
 #       [-2,7],'r-')